<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="lv.bestan.android.wear.expensestracker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch"/>

    <application
        android:name=".WearApplication"
        android:allowBackup="true"
        android:icon="@drawable/test_logo_watch"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name="lv.bestan.android.wear.expensestracker.MainWearActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="lv.bestan.android.wear.expensestracker.NewExpenseWearActivity"/>

        <service android:name="lv.bestan.android.wear.expensestracker.DataLayerWearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
